.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.producer {
  background-color: red;
  color: white;
  padding: 10px;
}

.consumer {
  background-color: blue;
  color: white;
  padding: 10px;
}
